html {
  cursor: none;
  --text: #FFF;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 10000;
  pointer-events: none;
}
.cursor div {
  position: absolute;
  display: grid;
  place-items: center;
}
.cursor div div {
  border: 1px solid #000;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  box-shadow: 0 0 50px 5px #04730185;
}
.cursor div:nth-child(1),
.cursor div:nth-child(2) {
  width: 100%;
  height: 100%;
}
.cursor div:nth-child(1) {
  transition: transform 0.2s ease-out;
}
.cursor div:nth-child(2) {
  transition: transform 0.1s ease-out;
}
.cursor div:nth-child(2) div {
  background: #000;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

* {
  margin: 0;
  scrollbar-width: none;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background: #EFF5F5;
  background-position: center;
  background-size: contain;
  scrollbar-width: none;
} 

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar-thumb{
background: #ADA6A6;
border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
background: #858181;
}
::-webkit-scrollbar-track{
background: #FFFFFF;
border: 6.2px none #525252;
border-radius: 28px;
box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}

/* --- MainPage --- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 200px);
  z-index: 100;
  animation: 0.5s ease 0s 1 normal none running fadeInDown;
}

nav img {
  width: 69px;
  height: 52px;
}

#menuSeparator {
  width: 2px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #D1D1D1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 540px;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  color: #1D354F;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.firstActionButton {
  display: flex;
  width: 170px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #DADADA;
  background-color: #017B3B;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

/* -- Other -- */

.hero{
  
  display:flex;
  flex-direction: column;
  align-items:center;
  width:100%;

  background-image:url('https://i.picsum.photos/id/100/2500/1656.jpg?hmac=gWyN-7ZB32rkAjMhKXQgdHOIBRHyTSgzuOK6U0vXb1w');
  background-position:center
}

.hero:after{
  content:"";
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 300%;
width: 300%;
  position: fixed;
  opacity:0.1;
  pointer-events: none;
   animation: animateGrain 8s steps(10) infinite;
}

@keyframes animateGrain{
  0%, 100% { transform:translate(0, 0) }
  10%{
    transform:translate(-5%,-10%)
  }
  20%{
    transform:translate(-15%,-20%)
  }
  30%{
    transform:translate(-5%,-10%)
  }
  40%{
    transform:translate(-15%,-20%)
  }
  
  50%{
    transform:translate(-5%,-10%)
  }
  60%{
    transform:translate(-15%,-20%)
  }
  70%{
    transform:translate(-5%,-10%)
  }
  80%{
    transform:translate(-15%,-20%)
  }
  90%{
    transform:translate(-5%,-10%)
  }
  100%{
    transform:translate(-15%,-20%)
  }
 
}

/* --- Footer --- */

.footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 150px;
  margin-bottom: 40px;
}

.footer-top {
  justify-content: space-between;
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 991px) {
  .footer-top {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.footer-logo {
  aspect-ratio: 1.33;
  object-fit: auto;
  object-position: center;
  width: 69px;
  mix-blend-mode: multiply;
}

.footer-cta {
  font-family: Inter, sans-serif;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0px 8px 0px -5px #1e2331;
  background-color: #017b3b;
  align-self: start;
  padding: 15px 40px;
}

@media (max-width: 991px) {
  .footer-cta {
    padding: 0 20px;
  }
}

.footer-nav {
  align-self: start;
  display: flex;
  margin-top: 44px;
  gap: 20px;
  font-size: 13px;
  color: #1d354f;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .footer-nav {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.footer-nav-item {
  font-family: Inter, sans-serif;
}

.footer-divider {
  border-radius: 2px;
  background-color: #1d354f;
  min-height: 1px;
  margin-top: 44px;
  width: 100%;
}

@media (max-width: 991px) {
  .footer-divider {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 18px;
  width: 100%;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .footer-bottom {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.footer-copyright {
  color: #1d354f;
  align-self: stretch;
  margin: auto 0;
  font: 600 12px Inter, sans-serif;
}

.footer-social-icons {
  align-self: stretch;
  display: flex;
  padding-right: 80px;
  gap: 20px;
}

.footer-social-icon {
  aspect-ratio: 1.04;
  object-fit: auto;
  object-position: center;
  width: 24px;
}

.footer-attribution {
  color: #1d354f;
  text-align: right;
  align-self: stretch;
  margin: auto 0;
  font: 600 12px Inter, sans-serif;
}

@media screen and (max-width: 768px) {
  #cursor {
    display: none;
  }
  
}

#burgerMenu {
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #EFF5F5;
  z-index: 998;
  transition: all 0.3s;
}

#currentPage {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0px solid #1D354F;
  background: #017B3B00;
  box-shadow: 0px 5px 0px -2px #017B3B00;
  color: #017B3B;
}

.burgerMenuSeparator {
  margin-top: 110px;
  width: 80%;
  border-radius: 10px;
  height: 1px;
  background: #B3B8B8;
}

#burgerMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  width: 80%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#burgerMenu ul li {
  display: block;
  height: auto;
  cursor: pointer;
  color: #1D354F;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}

.firstActionButtonMobile {
  display: flex;
  position: relative;
  bottom: 30px;
  left: auto;
  width: 80vw;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #DADADA;
  background-color: #017B3B;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.burgerMenuButton {
  background-color: transparent;
  border: none;
  display: none;
  width: 40px;
  height: 40px;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


@media screen and (max-width: 1200px) {
  html {
    cursor:auto;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    z-index: 100;
    background-color: rgba(239, 245, 245, 1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #1E3120;
    animation: 0.5s ease 0s 1 normal none running fadeInDown;
  }

  #burgerMenu {
    display: flex;
  }

  .burgerMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
  }

  nav img {
    width: 55px;
    height: 42px;
    position: relative;
    z-index: 1000;
  }

  #menuSeparator {
    display: none;
  }

  nav ul {
    display: none;
  }

  .firstActionButton {
    display: none;
  }
}